<section class="places__section">
  <div class="bg-color--yellow">
    <div class="wrapper">

      <h2 class="h2--enlarge">Places to Visit This Summer.</h2>
      <p class="text--center">Three months of summer equals endless fun. There are so many cool places to visit and here are some of CAA&rsquo;s favourites.</p>

      <div class="places-slides">
        <div>
          <div class="place__container">
            <h2>Best Scenic Day Trips in&nbsp;Ontario.</h2>
            <div class="section__cta-container--center-btn">
              <a href=" http://blog.caasco.com/local/day-trips-in-southern-ontario/?utm_source=landing-page&utm_medium=CTA&utm_campaign=2017-Summer-Ready-Guide" class="atom-btn-sml" tabindex="0" target="_blank"> <span><strong>Read Now</strong></span></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
