<div class="slide main-slide slick-initialized slick-slider" role="toolbar">
  <div aria-live="polite" class="slick-list draggable">
    <div class="slick-track" style="opacity: 1;" role="listbox">
      <div class="hero-div atom-bg-grey">
        <div class="slide01 slick-slide" style="background: url(&quot;img/490FAD66DBF84ED68AEE56D2081B8EAB.jpg&quot;) center center / cover no-repeat transparent;" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00">


        <!-- START sitecore banner content -->
          <style type="text/css">
          [style*="lm-79-foreign-cash__320"],
          [style*="lm-79-foreign-cash__320"] .main-slide {
          	height: 410px;
          }

          .main-slide [style*="lm-79-foreign-cash__320"] {
          	background-color: #ccc; /*background color when no image on local*/
          	width: 100%;
          	background-size: cover !important;
          }

          [style*="lm-79-foreign-cash__320"] .mid .section__cta-container--center-btn {
          	margin-top: 0;
          }

          .main-slide [style*="lm-79-foreign-cash__320"] h2 {
          	margin-bottom: 48px;
          	width: 80%;
          	margin-left: 10%;
          }

          .main-slide [style*="lm-79-foreign-cash__320"] p {
          	margin-bottom: 16px;
          	margin-left: auto; /*fix odd left margin on in local*/
          }

          [style*="lm-79-foreign-cash__320"] h2,
          [style*="lm-79-foreign-cash__320"] p {
          	color: #fff;
          }

          [style*="lm-79-foreign-cash__320"] p {
          	max-width: 600px;
          	text-align: center;
          	margin-left: auto;
          	margin-right: auto;
          	padding-left: 15px;
          	padding-right: 15px;
          }

          @media only screen and (min-width: 540px) {

          [style*="lm-79-foreign-cash__320"] {
          	background: url("/~/media/membership/foreign-cash/img/lm-79-foreign-cash__1279.jpg") center center / cover no-repeat transparent !important;
          }

          }

          @media only screen and (min-width: 1280px) {

          [style*="lm-79-foreign-cash__320"] {
          	background: url("/~/media/membership/foreign-cash/img/lm-79-foreign-cash__1279.jpg") center center / cover no-repeat transparent !important;
          }

          .main-slide [style*="lm-79-foreign-cash__320"] h2,
          .main-slide [style*="lm-79-foreign-cash__320"] .mid .section__cta-container--center-btn { margin-left: 0; }

          }

          @media only screen and (min-width: 701px) {

          .main-slide [style*="lm-79-foreign-cash__320"] * { text-align: left; }

          .main-slide [style*="lm-79-foreign-cash__320"] h2 { max-width: 500px; }

          [style*="lm-79-foreign-cash__320"] .mid .section__cta-container--center-btn { margin-left: 10%; }

          }

          @media only screen and (max-width: 568px) {

          .main-slide [style*="lm-79-foreign-cash__320"] h2 {
          	font-size: 24px;
          }

          [style*="lm-79-foreign-cash__320"] .slick-slide {
          	height: 410px;
          }

          }

          </style>
          <div class="mid">

            <h2> Order Foreign Cash Online and Have It Delivered to Your&nbsp;Door! </h2>
            <!-- <p>
              <strong>Driving is tough. And potholes, congestion and poor signs make it even worse. Let us know what you think are Ontario’s Worst Roads. </strong>
            </p> -->
            <div class="section__cta-container--center-btn">
              <a href="#?utm_source=CAA-ProjectName-homepage&utm_medium=banner&utm_campaign=2017-ProjectName" class="atom-btn-sml btn-ghost hover" tabindex="0" target="_blank"> <span>Shop Now</span></a>
            </div>
          </div>

        <!-- END sitecore banner content -->

        </div>
      </div>
    </div>
  </div>
</div>
